extends layout 

//- block append scripts 
//-   //add more scripts to the scripts block from layout.pug
//-   script(src="/about.js")

block main-content 
  h1.page-title #{title}
  p.para I grew up in a family that appreciated fashion. I was influenced by my mother and aunts whose sarees would always catch the eye of anyone who crossed their path. From a young age, I had a passion for opening up a boutique that featured the latest styles. This passion grew as I got older and in 2011 undertook this venture with just eleven sarees that I felt would represent my brand. Once I realized, my ambition gave rise to my own success and I never looked back.

  p.para As far as quality is concerned I have never compromised my ethics or my fabrics. This is because my customer satisfaction is and always will be a top priority. I try to study my customer's choices and over the years my sourcing has become a more curated effort. Bangladeshi clothing designs have reached new heights in the last 10 to 12 years but my total dedication and hard work to do better and better has allowed me to stay on top of all this in spite of great competition.
  p.para In addition, we offer exclusive Designer pieces in limited quantities by well know designers. We also have a collection of Designer inspired Sarees to make the designer look affordable to you. 
  p.para Over the years our collections have expanded to include High-quality Designer styled Saree blouses, and many more. 