extends layout 

//- block append scripts 
//-   //add more scripts to the scripts block from layout.pug
//-   script(src="/about.js")

block main-content 
  h1.page-title #{title}
  p.gallery-title Welcome to Product Gallery.
  .gallery-images 
      .img 
        img(src="/images/sari1.jpg" alt="sari1" width="300px" height="300px") 
        //- IMAGE LINK SARI-1:https://www.peakpx.com/en/hd-wallpaper-desktop-aizvf 
      .img 
        img(src="/images/sari2.jpg" alt="sari2" width="300px" height="300px")
        //- IMAGE LINK SARI-2:https://www.indiamart.com/proddetail/mysore-silk-sarees-20543424412.html 
      .img 
        img(src="/images/sari3.jpg" alt="sari3" width="300px" height="300px") 
        //- IMAGE LINK SARI-3:https://www.indiamart.com/proddetail/banarasi-silk-saree-20579228355.html
      .img 
        img(src="/images/jamdani.jpg" alt="jamdani" width="300px" height="300px") 
  .gallery-images 
      .img 
        img(src="/images/banarasi.jpg" alt="banarasi" width="300px" height="300px") 
      .img 
        img(src="/images/jamdani.jpg" alt="jamdani" width="300px" height="300px") 
      .img 
        img(src="/images/cotton.jpg" alt="cotton" width="300px" height="300px") 
      .img 
        img(src="/images/sari4.jpg" alt="sari4" width="300px" height="300px") 
        //- IMAGE LINK SARI-4:https://www.indiamart.com/arshicollection-varanasi/ladies-sarees.html
  .gallery-images 
      .img 
        img(src="/images/cotton.jpg" alt="cotton" width="300px" height="300px") 
      .img 
        img(src="/images/sari2.jpg" alt="sari2" width="300px" height="300px") 
      .img 
        img(src="/images/sari3.jpg" alt="sari3" width="300px" height="300px") 
      .img 
        img(src="/images/sari1.jpg" alt="sari1" width="300px" height="300px") 
      